body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

a {
    color: grey;
}

.main {
    border: 1px solid black;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 0;
}

.container {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid white;
}

canvas {
}
